/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* color declarations */
/* Breakpoints */
.angular-container {
  padding-top: 70px; }

.overlay img {
  min-height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto; }

.announce {
  z-index: 9999;
  font-size: 200px;
  color: white;
  font-weight: 800;
  font-family: 'proxima-nova-extra-condensed';
  position: fixed;
  left: 15%;
  top: 15%; }

.banner {
  background-size: cover;
  background-image: url("img/banner.png");
  padding-top: 80px;
  margin: 0;
  width: 1280px;
  height: 500px;
  z-index: -800; }

ul {
  list-style-type: none; }

li {
  list-style-type: none;
  display: inline; }

a {
  text-decoration: none; }

.work-title {
  font-family: "proxima-nova-extra-condensed";
  font-size: 40px;
  text-align: center;
  text-transform: uppercase; }

body {
  margin: 0;
  font-family: "proxima-nova-extra-condensed, sans-serif"; }

.texture {
  background: url("img/pattern-noise.png");
  opacity: .6;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10; }

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.text-center {
  text-align: center; }

/* Navigation */
div.navigation-container {
  display: block;
  height: 70px;
  background-color: #FFF;
  border-bottom: 3px solid #e2e2e2;
  position: fixed;
  width: 100%;
  z-index: 500;
  margin-top: 0; }
  div.navigation-container:after {
    content: "";
    display: table;
    clear: both; }

div.four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin: 0; }
  div.four:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    div.four {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      div.four:last-child {
        margin-right: 0; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    div.four {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      div.four:last-child {
        margin-right: 0; } }

.head-title img {
  margin: 5px;
  margin-left: 15px;
  display: block;
  position: relative;
  float: left;
  width: 200px; }
  @media (max-width: 768px) {
    .head-title img {
      width: 175px; } }

#nav-links {
  float: right;
  padding-right: 10px; }

#nav-links ul {
  list-style-type: none;
  text-align: right;
  margin-top: 15px;
  float: right; }

#nav-links ul li {
  display: inline; }

#nav-links li a {
  font-family: "proxima-nova-extra-condensed";
  font-weight: 200;
  color: #202020;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  height: 125px;
  transition: 0.5s ease;
  text-transform: uppercase;
  padding: 50px 10px;
  margin: 15px 0;
  border-radius: 10px; }
  @media (max-width: 768px) {
    #nav-links li a {
      font-size: 20px; } }

#nav-links li a:hover {
  color: #AA5C27; }

#nav-links .active {
  background-color: #AA5C27;
  color: white;
  font-weight: 800; }

.logo {
  width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 32%; }

/* Footer */
.footer {
  display: block;
  height: 300px;
  width: 100%;
  background: #FFF;
  border-top: 3px solid #e2e2e2;
  font-family: "proxima-nova-extra-condensed";
  overflow: hidden; }
  .footer:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .footer {
      height: 800px; } }

#portrait {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#location {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.about {
  padding-top: 35px;
  font-family: "proxima-nova-soft"; }

.sm-container {
  padding: 25px; }

.sm-container img:hover {
  opacity: .8; }

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
  font-size: 1.4em; }

#contact-area {
  width: 90%;
  margin-top: 25px; }

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  margin: 0px 0px 10px 0px;
  border: 2px solid #ccc; }

#contact-area textarea {
  height: 60px; }

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #AA5C27; }

#contact-area input.submit-button {
  width: 100px;
  height: 30px;
  float: left;
  font-size: 15px;
  text-transform: uppercase; }

/* Work Page */
div.twelve {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  position: relative; }
  div.twelve:after {
    content: "";
    display: table;
    clear: both; }

div.three {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  width: 25%;
  margin-left: auto;
  margin-right: auto; }
  div.three:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    div.three {
      width: 33.33%; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    div.three {
      width: 33.33%; } }
  @media (max-width: 550px) {
    div.three {
      width: 50%; } }

div.six {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  div.six:last-child {
    margin-right: 0; }

.round {
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
  transition: 0.35s ease;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1000px) {
    .round {
      height: 250px; } }
  @media (max-width: 768px) {
    .round {
      height: 200px; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .round {
      height: 200px; } }
  @media (max-width: 550px) {
    .round {
      height: 150px; } }

.round img {
  display: block;
  /* Stretch height: 100%; width: 100%; */
  width: 550px; }

.round a {
  text-decoration: none;
  color: #202020; }

.round:hover {
  -webkit-filter: brightness(1.5); }

.information {
  background-color: #fff;
  color: black;
  width: 100%;
  height: 125px;
  position: absolute;
  top: -125px;
  z-index: 400;
  transition: 0.35s ease;
  opacity: .8;
  border-bottom: 5px solid #dddddd;
  font-size: 15px; }
  @media (max-width: 768px) {
    .information {
      top: 0;
      position: relative;
      transition: 0;
      z-index: 450;
      height: 60px;
      border-bottom: none;
      opacity: .5; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .information {
      top: 0;
      position: relative;
      transition: 0;
      z-index: 450;
      height: 60px;
      border-bottom: none;
      opacity: .5; } }

.round:hover > .information {
  top: 0; }

.information h2 {
  font-family: "proxima-nova-extra-condensed";
  font-weight: 900; }
  @media (max-width: 768px) {
    .information h2 {
      margin: 0 auto;
      padding: 0;
      font-size: 20px; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .information h2 {
      margin: 0 auto;
      padding: 0;
      font-size: 20px; } }

.information p {
  display: block; }
  @media (max-width: 768px) {
    .information p {
      display: none; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .information p {
      display: none; } }

.gallery-main {
  font-family: "proxima-nova-extra-condensed";
  width: 80%;
  margin: 0 auto;
  display: block; }
  @media (max-width: 768px) {
    .gallery-main {
      width: 100%; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .gallery-main {
      width: 100%; } }

.large {
  display: block;
  padding: 10px;
  width: 100%; }

.medium {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  width: 40%; }
  @media (max-width: 768px) {
    .medium {
      width: 60%; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .medium {
      width: 60%; } }

.gallery-main p {
  font-family: "proxima-nova-soft";
  width: 70%;
  margin: 0 auto;
  display: block; }

.thumbnail-list {
  display: block;
  width: 80%;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 0; }
  .thumbnail-list:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .thumbnail-list {
      width: 100%; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .thumbnail-list {
      width: 100%; } }

.thumbnail-list img {
  width: 100px;
  transition: 0.5s ease; }
  @media (max-width: 768px) {
    .thumbnail-list img {
      width: 120px; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .thumbnail-list img {
      width: 60px; } }

.thumbnail-list img:hover {
  -webkit-filter: brightness(1.5); }

div.blog-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%; }
  div.blog-container:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    div.blog-container {
      width: 95%; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    div.blog-container {
      width: 95%; } }

div.resume-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
  padding-top: 200px;
  background: white; }
  div.resume-container:after {
    content: "";
    display: table;
    clear: both; }

.recent-title {
  font-size: 30px;
  border-bottom: 1px solid #202020;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-family: "proxima-nova-extra-condensed"; }

.resume-title {
  font-size: 30px;
  border-bottom: 1px solid #202020;
  width: 80%;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-family: "proxima-nova-extra-condensed"; }

.blog-entry {
  display: block;
  position: relative;
  padding-left: auto;
  padding-right: auto;
  display: block;
  font-family: "proxima-nova-soft"; }
  .blog-entry:after {
    content: "";
    display: table;
    clear: both; }

.blog-entry h4 {
  font-size: 15px;
  margin-top: -20px;
  border-bottom: 1px solid #e2e2e2;
  font-style: italic;
  padding-bottom: 5px; }

.reference {
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  display: block; }

.blog-entry p {
  white-space: normal;
  position: relative;
  display: block;
  word-wrap: break-word; }

.blog-entry span {
  width: 100%;
  padding: 10px;
  display: block;
  text-align: center; }

.blog-tutorial-img {
  width: 60%;
  padding: 5px;
  margin: 0 auto;
  display: block; }
  @media (max-width: 768px) {
    .blog-tutorial-img {
      width: 100%; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .blog-tutorial-img {
      width: 100%; } }

.thumbnail-blog {
  width: 49%;
  padding: 10px 0;
  border-radius: 25px; }
  @media (max-width: 768px) {
    .thumbnail-blog {
      width: 100%; } }
  @media (min-width: -webkit-min-device-pixel-ratio 2) and (min-width: max-device-width 667px) {
    .thumbnail-blog {
      width: 100%; } }

textarea {
  font-size: 10px; }

/* ANIMATIONS
============================================================================= */
.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

.page-all .toggle .ng-enter {
  -webkit-transition: none; }

.page-all .toggle .ng-leave {
  -webkit-transition: none; }

.page-web .toggle .ng-enter {
  -webkit-transition: none; }

.page-web .toggle .ng-leave {
  -webkit-transition: none; }

.page-print .toggle .ng-enter {
  -webkit-transition: none; }

.page-print .toggle .ng-leave {
  -webkit-transition: none; }

.toggle.ng-enter {
  opacity: 0;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms; }

.toggle.ng-enter-active {
  opacity: 1; }

.toggle.ng-leave {
  opacity: 1;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms; }

.toggle.ng-leave-active {
  opacity: 0; }

.toggle.ng-hide-add {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

.toggle.ng-hide-add.ng-hide-add-active {
  opacity: 0; }

.toggle.ng-hide-remove {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

.toggle.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.sort-icons {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 800; }

.sort-icons p {
  margin: 0; }

.sort-icons li a {
  color: #AA5C27; }

/*# sourceMappingURL=style.css.map */
