@import "bourbon/bourbon";
@import "neat/neat";

/* color declarations */
$black: #202020;
$background: #DloEFFFF;
$white: #FFF;
$nav-size: 45px;
$orange: #AA5C27;
$blue: #20B9D2;
$gray: #e2e2e2;

.banner {
	width: 100%;
	height: auto;
	padding-top: 30px;
}

ul {
	list-style-type: none;
}
li {
	list-style-type: none;
	display: inline;
}
a {
	text-decoration: none;
}
.work-title {
    font-family:"proxima-nova-extra-condensed";
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
body {
	margin: 0;
	font-family:"proxima-nova-extra-condensed, sans-serif";
	background: $background;
}
.texture {
	background: url('img/pattern-noise.png');
	opacity: .6;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
}
.center-block {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.text-center {
	text-align: center;
}
/* Navigation */
div.navigation-container {
	@include row ();
	height: 125px;
	background-color: $white;
	border-bottom: 3px solid #e2e2e2;
	position: fixed;
	width: 100%;
	z-index: 500;
	margin-top: 0;
}
div.four {
	@include span-columns (4);
	margin: 0;
}
.head-title img {
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 21px;
}
#nav-links ul{
	list-style-type: none;
	text-align: center;
	margin-top: 31px;
}
#nav-links ul li{
	display: inline;
}
#nav-links li a{
	font-family: "proxima-nova-extra-condensed";
	font-weight: 900;
	color: $black;
	padding: 10px;
	font-size: $nav-size;
	text-decoration: none;
	height: 125px;
	transition: background-color 0.5s ease;
	text-transform: uppercase;
	padding: 50px 10px;
	margin: 15px 0;
	border-radius: 10px;
}
#nav-links li a:hover {
	background-color: $orange;
	color: $white;

}
#nav-links .active {
	background-color:#AA5C27;
	color: white;
	font-weight: 800;
}
.logo {
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-left: 32%;

}

/* Footer */
.footer {
	@include row ();
	height: 300px;
	background: $white;
	border-top:3px solid #e2e2e2;
	font-family: "proxima-nova-extra-condensed";
}
#portrait {
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#location {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.about {
	padding-top: 35px;
	font-family: "proxima-nova-soft";
}
.sm-container {
	padding: 25px;
}
.sm-container img:hover{
opacity: .8;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}
#contact-area {
	width: 90%;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 100%;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 60px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid $orange;
}

#contact-area input.submit-button {
	width: 100px;
	height: 30px;
	float: left;
	font-size: 15px;
	text-transform: uppercase
}



/* Work Page */
div.twelve {
	@include row();
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}
div.three {
	@include span-columns(3);
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
div.six {
	@include span-columns(6);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.round {
overflow: hidden;
width: 100%;
height: 300px;
position: relative;
display:  block;
transition:  0.35s ease;
margin-left: auto;
margin-right: auto;
}
.round img {
display:  block;
/* Stretch height: 100%; width: 100%; */
width: 550px;
}
.round a {
	text-decoration: none;
	color: $black;
}
.round:hover{
    -webkit-filter: grayscale(100%);
}

.information{
	background-color: #fff;
	color: black;
	width: 100%;
	height: 125px;
	position: absolute;
	top: -125px;
	z-index: 400;
	transition: 0.35s ease;
	opacity: .8;
	border-bottom: 5px solid #dddddd;
}
.round:hover > .information {
	top: 0;
}

.information h2{
	font-family: "proxima-nova-extra-condensed";
	font-weight: 900;
}

.gallery-main {
	padding-top: 200px;
	font-family: "proxima-nova-extra-condensed";
}
.gallery-main img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 10px;
	width: 70%;
}
.gallery-main p {
	font-family: "proxima-nova-soft";
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.thumbnail-list {
	@include row();
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;

}
.thumbnail-list img {
	width: 100px;
	transition: 0.15s ease;
}


div.blog-container {
	@include row();
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60%;
	padding-top: 150px;
}
div.resume-container {
	@include row();
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
	padding-top: 200px;
	background: white;
}

.recent-title {
	font-size: $nav-size;
	border-bottom: 1px solid $black;
	text-align: left;
	text-transform: uppercase;
	padding-bottom: 5px;
	font-family: "proxima-nova-extra-condensed";
}
.resume-title {
	font-size: $nav-size;
	border-bottom: 1px solid $black;
	width: 80%;
	margin: 0 auto;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 5px;
	font-family: "proxima-nova-extra-condensed";
}

.blog-entry {
	@include row();
	border-bottom: 2px solid $gray;
	position: relative;
	padding: 15px;
	padding-left: auto;
	padding-right: auto;
	display: block;
	font-family: "proxima-nova-soft";
}

.number {
	@include span-columns(3);
	background-color: $white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid $gray;
	margin: 10px;
}
.number h1{
	font-size: 70px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	margin-top: 5px;
	font-family: "proxima-nova-extra-condensed";
}
.blog-entry h3 {
	font-size: 40px;
	padding: 10px;
	margin-top: -8px;
	border-bottom: 1px solid $gray;
}
.blog-entry p {
	white-space: normal;
	position: relative;
	display: block;
	word-wrap: break-word;
	margin-left: 120px;
	margin-top: -30px;;
}

textarea {
	font-size: 10px;
}


@media all and (min-width: 800px) and (max-width: 1250px) {
	div.three {
		@include span-columns(4);
		width: 33%;
		margin: 0;
	}
	div.twelve {
		width: 100%;
	}
	.logo {
		margin-left: auto;
	}
	.sm-container img {
		width: 100px;
	}
}
@media all and (max-width: 799px) {
	div.three {
		@include span-columns (6);
		margin: 0;
	}
	.head-title img {
		display: none;
	}

	.logo {
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#nav-links ul li a:hover {
		color: #aa5c27;
		background-color: $white;
	}
	#nav-links ul li a{
		padding: 30px 5px;
		margin: 0;
		font-size: 40px;
	}
	#nav-links ul li{
		padding: 0;
		margin: 0;

	}
	#nav-links ul {
		padding: 0;
		padding-right: 5px;
	}
	div.four {
		@include span-columns (6);

	}
	#nav-links .active {
	background-color:white;;
	color: #AA5C27;
	font-weight: 800;
	}
	.four.about {
		@include span-columns (12);
		width: 100%;
	}
	.four.contact {
		@include span-columns (12);
		width: 100%;
	}
	.four.sm {
		@include row ();
		width: 100%;
	}
	.sm-container {
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 100%;
	}
	.footer {
		height: 750px;
	}
	#contact-area input {
		width: 100%;
	}
	#contact-area textarea {
		width: 100%;
	}
	.round {
		-webkit-filter: none;
		border: 5px solid #fff;
	}
	.round:hover {
		-webkit-filter: none;
	}
	.information {
		top: 0;

	}
	.thumbnail-list {
		width: 100%;
	}
	.thumbnail-list img:hover {
		width: 100px;
		top: 0;
	}
	.gallery-main img {
		width: 100%;
	}
	.number {
	display: none;
	}
	div.blog-container {
	@include row();
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	padding-top: 150px;
	}
	.blog-entry {
	@include row();
	width: 100%;
	border-bottom: 2px solid $gray;
	position: relative;
	padding: 15px;
	padding-left: auto;
	padding-right: auto;
	display: block;
	font-family: "proxima-nova-soft";
	}
	.recent-title {
	font-size: 30px;
	border-bottom: 1px solid $black;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 5px;
	font-family: "proxima-nova-extra-condensed";
	}
	.blog-entry h3 {
	font-size: 20px;
	padding: 10px 0px;;
	margin-top: -8px;
	border-bottom: 1px solid $gray;
	}
	.blog-entry p {
	white-space: normal;
	width: 100%;
	position: relative;
	display: block;
	word-wrap: break-word;
	margin-left: 0;
	margin-right: 0;
	margin-top: -30px;;
	}


}

@media all and (max-width: 650px ) {
	.round {
		width: 100%;
		height: 200px;
	}
	.information {
		width: 100%;
	}

}

@media all and (max-width: 550px){
	.round {
		width: 100%;
		height: 150px;
		padding: 0;
        margin: 0;
	}
	.round img {
		width: 300px;
	}
	.information {
		width: 100%;
		height: 100px;
	}
	.information h2 {
		font-size: 20px;
	}
	#nav-links ul li a{
		padding: 30px 5px;
		margin: 0;
		font-size: 30px;
	}
}

@media
(-webkit-min-device-pixel-ratio: 2) and (max-device-width:667px) {

	div.three {
		width: 50%;
	}
	.round {
		width: 100%;
		height: 450px;
        padding: 0;
        margin: 0;
	}
	.information {
		width: 100%;
		height: 200px;
	}
	.information h2 {
		font-size: 40px;
	}
	.head-title img {
		display: none;
	}

	.logo {
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#nav-links ul li a:hover {
		color: #aa5c27;
		background-color: $white;
	}
	#nav-links ul li a{
		padding: 30px 5px;
		margin: 0;
		font-size: 40px;
	}
	#nav-links ul li{
		padding: 0;
		margin: 0;

	}
	#nav-links ul {
		padding: 0;
		padding-right: 5px;
	}
	div.four {
		@include span-columns (6);

	}
	#nav-links .active {
	background-color:white;;
	color: #AA5C27;
	font-weight: 800;
	}
	.four.about {
		@include span-columns (12);
		width: 100%;
	}
	.four.contact {
		@include span-columns (12);
		width: 100%;
	}
	.four.sm {
		@include row ();
		width: 100%;
	}
	.sm-container {
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 100%;
	}
	.footer {
		height: 1150px;
	}
	#contact-area input {
		width: 100%;
	}
	#contact-area textarea {
		width: 100%;
	}
	.round {
		-webkit-filter: none;
	}
	.round:hover {
		-webkit-filter: none;
	}
	.round img {
		width: 700px;
	}
	.information {
		top: 0;

	}
	.thumbnail-list {
		width: 100%;
	}
	.thumbnail-list img:hover {
		width: 100px;
		top: 0;
	}
	.gallery-main img {
		width: 100%;
	}
	.number {
	display: none;
	}
	div.blog-container {
	@include row();
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	padding-top: 150px;
	}
	.blog-entry {
	@include row();
	width: 100%;
	border-bottom: 2px solid $gray;
	position: relative;
	padding: 15px;
	padding-left: auto;
	padding-right: auto;
	display: block;
	font-family: "proxima-nova-soft";
	}
	.recent-title {
	font-size: 30px;
	border-bottom: 1px solid $black;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 5px;
	font-family: "proxima-nova-extra-condensed";
	}
	.blog-entry h3 {
	font-size: 20px;
	padding: 10px 0px;;
	margin-top: -8px;
	border-bottom: 1px solid $gray;
	}
	.blog-entry p {
	white-space: normal;
	width: 100%;
	position: relative;
	display: block;
	word-wrap: break-word;
	margin-left: 0;
	margin-right: 0;
	margin-top: -30px;;
	}
	#contact-area input.submit-button {
		width: 200px;
		height: 50px;
		margin-left: 0;
		margin-right: 0;
		display: block;
	}
	.sm-container img {
		width: 200px;
	}
	#portrait {
		width: 250px;
	}
	.about p {
		font-size: 30px;
	}
	.about img#location {
		width: 400px;
	}
	#contact-area input {
		height: 50px;
		padding: 0;
		margin: 5px 0;
	}
	::-webkit-input-placeholder {
   		font-size: 18px;
   		margin: 0;
   		padding: 0;
   		text-align: left;
   		font-weight: 600;
	}
	div.navigation-container {
		position: relative;
	}
	div.twelve {
		padding-top: 0;
	}
	h1.recent-title {
		font-size: 90px;
	}
	div.blog-entry h3 {
		font-size: 60px;
		padding: 0 10px;
	}
	div.blog-entry p {
		font-size: 25px;
		padding: 0 10px;
	}
	}
/* ANIMATIONS
============================================================================= */

.toggle {
    -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
}

.toggle.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

.toggle.ng-enter-active {
    opacity: 1;
}

.toggle.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

.toggle.ng-leave-active {
    opacity: 0;
}

.toggle.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1;
}

.toggle.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.toggle.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0;
}

.toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

